<div class="content">
    <div class="container">
      <div class="row" *ngFor="let post of posts | async">
        <div class="blogpost">
          <h3><a href="/post/{{post.postId}}" class="blog-title">{{post.title}}</a></h3>
          <div>
            <i class="fas fa-user"></i>Author:&nbsp; &nbsp; {{post.userName}}
          </div>
          <p [innerHTML]="post.content"></p>
          <div>
            <a type="button" href="/post/{{post.postId}}" class="btn btn-primary">Read More</a>
          </div>
          <hr>
        </div>
        <hr>
      </div>
    </div>
  </div>
